body {
    background: linear-gradient(180deg, #121212, #1e1e1e);
    color: #ffffff;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

#toggle-icon {
    font-size: 100px;
    cursor: pointer;
    transition: color 0.3s ease;
}

#result {
    font-size: 1.2em;
    margin-top: 20px;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff;
}