body {
    background: linear-gradient(180deg, #121212, #1e1e1e) no-repeat;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: #ffffff;
}

.container {
    width: 90%;
    max-width: 400px;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
}

h1 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #ffffff;
}

#toggle-icon {
    font-size: 100px;
    cursor: pointer;
    transition: color 0.3s ease;
}

#result {
    font-size: 1.2em;
    margin-top: 20px;
}